@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive: var(--destructive);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);

  --color-blue-gem-50: #f2f0ff;
  --color-blue-gem-100: #e8e4ff;
  --color-blue-gem-200: #d4ccff;
  --color-blue-gem-300: #b5a4ff;
  --color-blue-gem-400: #9270ff;
  --color-blue-gem-500: #7137ff;
  --color-blue-gem-600: #630fff;
  --color-blue-gem-700: #5500ff;
  --color-blue-gem-800: #4600da;
  --color-blue-gem-900: #330099;
  --color-blue-gem-950: #21007a;

  --color-gigas-50: #eff2fe;
  --color-gigas-100: #e2e6fd;
  --color-gigas-200: #cbd0fa;
  --color-gigas-300: #abb2f6;
  --color-gigas-400: #898bf0;
  --color-gigas-500: #736de7;
  --color-gigas-600: #6351da;
  --color-gigas-700: #5642c0;
  --color-gigas-800: #483aa0;
  --color-gigas-900: #3b347b;
  --color-gigas-950: #241e48;

  --color-green-yellow-50: #f7ffe4;
  --color-green-yellow-100: #edffc4;
  --color-green-yellow-200: #dbff90;
  --color-green-yellow-300: #bfff50;
  --color-green-yellow-400: #99ff00;
  --color-green-yellow-500: #84e600;
  --color-green-yellow-600: #65b800;
  --color-green-yellow-700: #4c8b00;
  --color-green-yellow-800: #3e6d07;
  --color-green-yellow-900: #355c0b;
  --color-green-yellow-950: #193400;
}

:root {
  --radius: 0.65rem;
  --background: oklch(1 0 0);
  --foreground: oklch(0.145 0 0);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.145 0 0);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.145 0 0);
  --primary: oklch(0.5327 0.2005 283.19);
  --primary-foreground: oklch(0.985 0 0);
  --secondary: oklch(0.783 0.0971 279.36);
  --secondary-foreground: oklch(0.205 0 0);
  --muted: oklch(0.97 0 0);
  --muted-foreground: oklch(0.556 0 0);
  --accent: oklch(0.97 0 0);
  --accent-foreground: oklch(0.205 0 0);
  --destructive: oklch(0.577 0.245 27.325);
  --border: oklch(0.8912 0.0547 288.67);
  --input: oklch(0.922 0 0);
  --ring: oklch(0.708 0 0);
  --radius: 0.625rem;
}

.dark {
  --background: oklch(0.145 0 0);
  --foreground: oklch(0.985 0 0);
  --card: oklch(0.205 0 0);
  --card-foreground: oklch(0.985 0 0);
  --popover: oklch(0.205 0 0);
  --popover-foreground: oklch(0.985 0 0);
  --primary: oklch(0.9017 0.2527 132.6);
  --primary-foreground: oklch(0.9723 0.0785 121.64);
  --secondary: oklch(0.9254 0.2085 127.55);
  --secondary-foreground: oklch(0.985 0 0);
  --muted: oklch(0.269 0 0);
  --muted-foreground: oklch(0.708 0 0);
  --accent: oklch(0.269 0 0);
  --accent-foreground: oklch(0.985 0 0);
  --destructive: oklch(0.704 0.191 22.216);
  --border: oklch(0.9254 0.2085 127.55);
  --input: oklch(1 0 0 / 15%);
  --ring: oklch(0.556 0 0);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}

@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
  
}
